.dynamicBanner {
    width: 100%;
    height: auto;
    background-image: url(../../../../../public/assets/img/home/bannerimages/sailbanner.svg);
    background-size: cover;
    background-position: center center;
    position: relative;

    >svg:first-child {
        object-fit: cover;
        display: block;
        opacity: 0;
    }
}