* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid var(--banner-title);
  background: transparent;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100vw;
}

body,
input,
textarea {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 400;
}

p,
span {
  font-weight: 200;
}

button,
a {
  cursor: pointer;
  font-weight: normal;
  color: white;
  text-decoration: unset;
  border: unset;
}

button:hover,
a:hover {
  color: white;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}