
$marine-blue: #01375E;
$light-blue: #62BEFA;
$green-blue: #22A1C3;
$yellow: #FCC568;
$placeholder-color: #7693A9;


:export {
    marine-blue: $marine-blue;
    light-blue: $light-blue;
    green-blue: $green-blue;
    yellow: $yellow;
    placeholder-color: $placeholder-color;

}   