
@import '/src/styles/variables.scss';

@media (min-width: 0px) {
    .organized {
        background-color: $marine-blue;
        height: 100vh;
        padding: 20px;
        padding-bottom: 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
        p {
            font-family: 'Noto Sans', sans-serif;
            color: white;
            margin-top: 20px;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 400;
        }
    
        div {
            background-image: url(../../../../public/assets/img/about/organizedimg.svg);
            height: 73%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            width: 100vw;
            max-width: 350px;
        }
    }
}

@media (min-width: 630px) {
    .organized {
        align-items: flex-start;
        
    }
}