@import '/src/styles/variables.scss';

@media (min-width:0) {
    .githubSection {
        height: auto;
        width: 100%;
        background-color: $marine-blue;
        padding: 20px;
        padding-top: 40px;
        position: relative;
        
        >svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 40%;
            height: auto;
            opacity: .1;
            z-index: 0;
            
            display: none;
        }
    
        .container {
            z-index: 2;
    
            .gitBoxContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
    
                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                }
    
                > div {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
    
                    h3, button {
                        width: 100%;
                        height: auto;
                        background-color: $yellow;
                        color: $marine-blue;
                        border-radius: 15px;
                        text-align: center;
                        padding: 5px;
                        font-family: "Noto Sans", sans-serif;
                        font-size: 15px;
                    }
                }
            }
        
            >p {
                color: white;
                margin-top: 20px;
                font-size: 1.4rem;
                font-family: 'Noto Sans', sans-serif;
            }
        
            >h3 {
                color: white;
                margin-top: 5px;
                font-weight: 600;
                font-size: 1.8rem;
                font-family: 'Noto Sans', sans-serif;
            }
        
            h1 {
                font-size: 1.6rem;
                color: white;
                font-family: 'Noto Sans', sans-serif;
            }
    
            .dropdownSelect  {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 16px 0px;
    
                .dropbtn {
                    align-items: center;
                    background-color: white;
                    color: $marine-blue;
                    font-weight: 600;
                    border: 1px solid lightgrey;
                    border-radius: 6px;
                    box-shadow: rgba(27, 31, 35, 0.04); 
                    cursor: pointer;
                    display: flex;        
                    font-size: 16px;
                    justify-content: center;
                    padding: 8px 24px;
                    transition-duration: 0.4s
                }
    
                .dropdown {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    margin-right: 4px;
    
                    &:hover {
    
                        .dropbtn {
                            background-color: $yellow;
                        }
    
                        .dropdownContent {
                            opacity: 1;
                            height: auto;
                            transition: all .4s ease-in-out;
                        }
                    }
    
                    .dropdownContent {
                        border-radius: 5%;
                        background-color: #f9f9f9;
                        top: 100%;
                        border: unset;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
                        height: 0px;
                        opacity: 0;
                        overflow: hidden;
                        font-size: 12px;
                        position: absolute;
                        z-index: 1;
                        transition: all .4s ease-in-out;
                    
                        a {
                            align-items: center;
                            border-bottom: 0.2px solid $marine-blue;
                            color: black;
                            display: block;
                            padding: 12px 16px;
                            text-align: left;
                            text-decoration: none;
                            transition-duration: 0.4s;        
                            transition-timing-function: ease-in-out;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 1rem;
                            white-space: nowrap;
        
                            &:hover {
                                background-color: #f1f1f1;
                                transition-duration: 0.4s;
                                transition-timing-function: ease-in-out;
                            }
                        }
        
                        a:last-of-type {
                            border-bottom: unset;
                        }
        
                    }
                }
    
                .dropdown:last-child {
                    align-items: flex-end;
                }
    
                .selectors {
                    align-items: flex-end;
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-top: 10px;
                }
    
    
    
                input {
                    margin-top: 5px;
                    border: 2px solid white;
                    background-color: transparent;
                    border-radius: 6px;
                    padding: 5px 12px;
                    font-size: 1rem;
                    font-family: 'Noto Sans', sans-serif;
                    color: white;
                    width: 100%;
                    margin-right: 12px;
    
                    &::placeholder {
                        color: $placeholder-color;
                    }
    
                    &:focus {
                        border-color: $yellow;
                        outline: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 650px) {
    .githubSection {

        .container {

            .gitBoxContainer {
                justify-content: flex-start;

                > div {
                    h3 {
                        width: 30%;
                    }
                }
    
                .repoBox {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 950px) {
    .githubSection {

        .container {

            .dropdownSelect {
                flex-direction: row;
                align-items: flex-end;
            }
        }
    }
}

@media (min-width: 1200px) {
    .githubSection {
        display: flex;
        justify-content: center;
        align-items: center;
    
        > svg {
            left: 4%;
            top: 10%;
            width: 30%;
        }

        .container {
            width: 1000px;
    
            .gitBoxContainer {
                margin-left: auto;
                margin-right: auto;
            }

        }
    }
}