.mixBlendMult {
    mix-blend-mode:multiply;
}

.mixBlendScreen {
    mix-blend-mode:screen;
}

.mixBlendSl {
    mix-blend-mode:soft-light;
}

.astrobanner {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15%;
}