.mixBlendMult {
    mix-blend-mode:multiply;
}

.mixBlendScreen {
    mix-blend-mode:screen;
}

.mixBlendSl {
    mix-blend-mode:soft-light;
}

@media (min-width: 0px) {
    .cafebanner {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    .bannerName {
        position: relative;
        height: auto;
        margin-top: 30%;
    
        .pavkofont {
            position: absolute;
            left: 19%;
            top: 35%;
        }
    }
    
    .cafeLetter {
        position: absolute;
        top: 75vh;
        left: 30%;
    }
    
    .girlcafe {
        position: absolute;
        left: 40%;
        bottom: 0;
    }

    .ipad {
        display: none;
    }
}


@media (min-width: 320px) {
    .cafebanner {
        left: 0;
    }

    .bannerName {
        margin-left: 0;
    }
}

@media (min-width: 550px) {
    .cafeLetter {
        position: absolute;
        top: 75vh;
        left: 50%;
    }
    
    .girlcafe {
        position: absolute;
        left: 50%;
        bottom: 0;
    }

    .ipad {
        display: block;
    }

    .mobile {
        display: none;
    }

    .bannerName {
        margin-top: 10%;
    }
}