
@import '/src/styles/variables.scss';

.principles {
    background-color: $yellow;
    min-height: 100vh;
    padding: 20px;
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-size: 4.5rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        margin-top: 1%;
        line-height: 4.5rem;
    }

    h2 {
        color: white;
        font-size: 2.9rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        margin-top: 1%;
        margin-bottom: 30px;
    }
    
    p {
        font-family: 'Noto Sans', sans-serif;
        color: white;
        margin-top: 20px;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
    }

    .principlesbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 2px solid $marine-blue;
        min-height: 180px;
        margin-bottom: 15px;

        >div:last-of-type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 10px;

            h4 {
                color: $marine-blue;
                font-size: 1.4rem;
                font-family: 'Noto Sans', sans-serif;
                margin-left: 5px;
            }

            svg {
                margin-right: 10px;
                width: 25%;
            }
        }

        p {
            font-size: .8rem;
            background-color: $marine-blue;
            padding: 10px;
            line-height: 1.1rem;
            margin-top: unset;
        }
    }
}